
#loginBody {
    background-image: url("../img/fondoLogin.png");
    margin: 0;
}

body {
    margin: 0;
}

/*Página Index*/

/*Productos*/


#productos2 {
    display: grid;
    align-content: space-evenly;
    grid-template-columns: auto auto auto;
    gap: 10px;
    /*background-color: #2196F3;*/
    padding: 10px;
}

#productos3-calcetines, #productos4-zapatillas {
    display: grid;
    align-content: space-evenly;
    grid-template-columns: auto;
    gap: 10px;
    /*background-color: #2196F3;*/
    padding: 10px;
}

#productos4-zapatillas-imgs {
    display: grid;
    align-content: space-evenly;
    grid-template-columns: auto auto auto;
    gap: 10px;
    /*background-color: #2196F3;*/
    padding: 10px;
}
  
#productos2 > div, #productos3-calcetines ,#productos4-zapatillas {
    /*background-color: rgba(255, 255, 255, 0.8);*/
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

#productos4-zapatillas-imgs > div {
        /*background-color: rgba(255, 255, 255, 0.8);*/
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 20px 0;
}

#productos2> div:hover,#productos3-calcetines> div:hover ,#productos4-zapatillas > div:hover {
    background-color: #42d3e938;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
    box-sizing: border-box;
    transform: scale(1.1);
}

#productos3-calcetines> div:hover ,#productos4-zapatillas-imgs > div:hover {
    background-color: #42d3e938;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
    box-sizing: border-box;
    transform: scale(1.1);
}

#productos4-zapatillas {
    background-color: rgba(0, 73, 86, 0.411);
}

#productos4-zapatillas-imgs {
    background-color: rgba(0, 73, 86, 0.411);
}


#productos {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgba(0, 73, 86, 0.368);
    border: solid 2px;
    gap: 2px;
  }
  
#productos > div {
    /*background-color: rgba(255, 255, 255, 0.8);*/
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

#productos > div:hover {
    background-color: #42d3e995;
    transition: 0.4s;
    cursor: pointer;
    box-sizing: border-box;
}

#bannerProductos{
    display: grid;
    grid-template-columns: auto;
    /*background-color: #2196F3;*/
    /*border: solid 1px;*/
    gap: 2px;
}
#bannerProductos > div {
   /*background-color: rgba(255, 255, 255, 0.8);*/
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

#bannerProductos2{
    display: grid;
    grid-template-columns: auto auto 5px;
    /*background-color: #75f321;*/
    /*border: solid 1px;*/
    padding: 1%;
    gap: 3px;
}
#bannerProductos2 > div {
    /*background-color: rgba(253, 7, 7, 0.8);*/
    text-align: center;
    padding: 20px, 0;
}


#producto1,#producto2,#producto3,#producto4,#producto5,#producto6,#producto7,#producto8,#producto9,#producto10{
    max-width: 60%;
}


/*h4 de la página index*/
#promocion {
    text-align: center;
    font-style: italic;
    font-size: smaller;

}

#nuevaColección {
    text-align: center;
}

/*barra de navegación*/
/*Iconos cesta y persona*/
#cesta-nav{
    float: right;
    cursor: pointer;
}

/*Links de la navbar*/
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 73, 86);
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: rgb(0, 172, 252);
}

ul.topnav li a.active {
   background-color: rgba(162, 104, 238, 0.548);
}

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}


*{
    font-family: 'Quicksand', sans-serif;
}

/*Apartado para el css del Login*/

.loginForm{
    height: 100vh;
}

#cajaLogin {
    background-color: rgba(1, 213, 250, 0.582);
    min-width: 6%;
    margin-top: 12%;
    margin-left: 43%;
    padding: 3%;
    text-align: center;
    border-radius: 5%;
    display: inline-block;
    vertical-align: middle;

}

#cabeceraLogin{
    color: aliceblue;
    font-family: "Arial Black";
}
#userLogin, #userPassword {
  min-width: 100%;
  padding: 7% 12%;
  margin: 1%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#button {
    padding: 5%;
    font-family: "Arial";
}

/*Footer*/

#footerLogin{
    margin-top: 0;
    background-color: rgba(162, 104, 238, 0.548);
    padding: 3%;
}

#footer-links a{
    margin: 0 auto;
    text-decoration: none;
    font-family: "Arial Black";
    margin-left: 5%;
    color: rgba(59, 58, 58, 0.856);
}

#footer-links a:hover{
    color: cyan;
}

#footer-links{
    margin-left: 24%;
}

/*Apartado para el css de la página de contacto*/
.contacto{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}

.contenedor{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px 100px;
}

.contenedor:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../img/contact-shop.png") no-repeat center;
    background-size: cover;
    z-index: -1;
    filter:blur(5px);
}

.contact-box{
    max-width: 850px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.izquierda{
    height: 100%;
    background: url("../img/contact.png") no-repeat center;
    background-size: cover;
}

.derecha{
    padding: 25px 40px;
}

#titulo{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#titulo:after{
    content:'';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #29fbff;
}

.campo{
    width: 95%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba (230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.campo:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.campo:focus{
    background-color: #fff;
    border: 2px solid rgba(30, 85, 250, 0.47);
}

.area{
    min-height: 150px;
}

.boton{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #29fbff;
    cursor: pointer;
    outline: none;
    border: none;
}

.boton:hover{
    background-color: #22cfe6;
}

@media screen and (max-width:880px){
    .contact-box{
        grid-template-columns: 1fr;
    }

    .izquierda{
        height:200px;
    }
}

/* Página Sobre Nosotros */

.tituloSN{
    color: #6d1cd6;
}

.contenedorSN{
    text-align: center;
    background-image: linear-gradient(#42d3e9, #ba84ff);
}

.cabeceraSN{
    padding-top: 60px;
    color: black;
    font-size: 20px;
    margin: auto;
    line-height: 50px;
}

.sub-contenedorSN{
    max-width: 1200px;
    margin: auto;
    padding: 48px 0;
    display: flex;
    justify-content: center;
}

.equiposSN{
    margin: 10px;
    padding: 22px;
    max-width: 30%;
    cursor:pointer;
    transition: 0.4s;
    box-sizing: border-box;
}

.equiposSN:hover{
    background-color: #42d3e9;
    border-radius: 10px;
}

.imagenSN{
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

.nombreSN{
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.puestoSN{
    color: rgb(179, 5, 202);
    font-weight: bold;
}

.textoSN{
    margin:20px 0;
    font-weight: lighter;
    color: rgb(243, 235, 247);
}

.social-linksSN{
    margin: 14px;
    position:relative;
    bottom: 0;
}

.social-linksSN a{
    display: inline-block;
    height: 30px;
    width: 30px;
    transition: .4s;
}

.social-linksSN a:hover{
    transform: scale(1.5);
}

.social-linksSN a i{
    color:#00000056;
}

@media screen and (max-width: 600px){
    .equiposSN{
        max-width: 100%;
    }
}

.adminTable{
    margin: 0px auto;
}
.adminTable, .adminTable td, .adminProduct, .adminProduct tr{
    border: 2px solid black;
    border-collapse: collapse;

}